img{
    text-align:center;
  }
body{
    background-image: url("240_F_448098401_kWPDm50r34I3fVEPCJFp29OM8R5ILodN.jpg");
    background-size: cover;
    text-align: center;
    
}
h1{
  color: azure;
  
}
p{
  color: azure;
  font-size: x-large;
}
button{
  color: azure;
}